<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zadatak 4</title>
    <link href="resursi/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
            <form>
                ID:<input class="form-control" type="text" ng-model="vm.obj.id"><br>
                Količina u paketu: <input class="form-control" type="number" ng-model="vm.obj.kol"><br>
                Cena: <input class="form-control" type="number" ng-model="vm.obj.cena"><br>
                <button ng-click="vm.add()">Dodaj</button>
            </form>

            <input type="text" ng-model="vm.search" placeholder="Filtriranje">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Količina</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="el in vm.jaja|filter:vm.search track by $index">
                        <td>{{el.id}}</td>
                        <td>{{el.kol}}</td>
                        <td>{{el.cena}}</td>
                        <td><a ng-click="vm.brisi(el)">brisi</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="resursi/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="resursi/angular/angular.min.js"></script>
    <script src="app.js"></script>

</body>

</html>